/* You can add global styles to this file, and also import other style files */
@import "src/sass/module";

a {
  text-decoration: none !important;
}

.font-1 {
  font-size: $font-1 !important;
}

.font-2 {
  font-size: $font-2 !important;
}

.font-3 {
  font-size: $font-3 !important;
}

.font-4 {
  font-size: $font-4 !important;
}

.font-5 {
  font-size: $font-5 !important;
}

.font-6 {
  font-size: $font-6 !important;
}
